<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>사용자 차단 - CS위키</title>
  <link rel="stylesheet" href="/css/ban.css">
  <link rel="stylesheet" href="/css/header.css">
  <meta name="viewport" content="width=device-width, initial-scale-1">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body style="overflow-x: hidden;">
<script src="/js/header.js"></script>
<!-- header -->
<div th:insert="header :: header"></div>
<th:block th:if="${session.p_id < 3}">
  <script>
    alert('접근 권한이 없다.');
    history.back();
  </script>
</th:block>
<!--
<div th:if="${#httpServletRequest.getSession(false) != null}" id="userinfo" class="hidden">
    <div class="userinfo">
      <h4 style="text-align:center">사용자 정보</h4>
      사용자 이름 : <span th:text="${session.member.name}"></span>
      <br>
      가입일: <span th:text="${session.member.reg_date}" th:utext="${#dates.format(session.member.reg_date, 'yyyy-MM-dd')}"></span>
      <br>
      이메일 주소 : <span th:text="${session.member.email}"></span>
    </div>
</div>
-->

<!-- ban -->
<div class="userban">
  <form id="ban" method="post">
    <div class="b_u_name">
      <p>사용자 이름</p>
      <input type="text" name="u_id" class="b_u_btn" placeholder="사용자 이름" >
    </div>
    <div class="b_u_ban">
      <p>차단 사유</p>
      <input type="text" name="ban_reason" class="b_u_btn" placeholder="차단 사유">
    </div>
    <button class="btn" type="button" onclick="confirmban()">사용자 차단</button>
  </form>
</div>

<hr>

<!-- ban user list-->
  <span class="title"> 차단된 사용자 목록 </span>
<br>
<div class="acl">
  <table id="b-table">
    <thead>
    <th>사용자 ID</th>
    <th>권한</th>
    <th>차단 사유</th>
    <th>해제</th>
    </thead>
    <tbody class="b-list" th:each="list : ${list}">
    <tr class="tr">
      <td>[[${list.u_id}]]</td>
      <td>
        <span th:if="${list.p_id==2}">회원</span>
        <span th:if="${list.p_id==3}">관리자</span>
      </td>
      <td>[[${list.ban_reason}]]</td>
      <td><a th:href="@{/admin/unban(u_id=${list.u_id})}">해제</a></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="center b-page">
  <a href="#">이전</a>
  <a class="page-num" href="#"> 1 </a>
  <a href="#">다음</a>
</div>
<script>
  function confirmban() {
    if (confirm('해당 사용자를 차단하시겠습니까?')) {
      document.getElementById('ban').submit();
    }
  }
</script>
</body>
</html>