<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>권한 부여 - CS위키</title>
  <link rel="stylesheet" href="/css/ban.css">
  <link rel="stylesheet" href="/css/header.css">
  <meta name="viewport" content="width=device-width, initial-scale-1">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body style="overflow-x: hidden">
<script src="/js/header.js"></script>
<div th:insert="admin-header :: header"></div>
<main>
  <div class="acl" th:if="${session.member.p_id>=3}">
    <h2>관리자 / 개발자 목록</h2>
    <table class="table">
      <thead>
      <th>사용자 ID</th>
      <th>이름</th>
      <th>권한</th>
      <th>이메일</th>
      </thead>
      <tbody th:each="list : ${list}">
      <tr class="tr">
        <td>[[${list.u_id}]]</td>
        <td>[[${list.name}]]</td>
        <td>
          <span th:if="${list.p_id== 3}">관리자</span>
          <span th:if="${list.p_id == 4}">개발자</span>
        </td>
        <td>[[${list.email}]]</td>
      </tr>
      </tbody>
    </table>
    <h2>사용자 권한 부여</h2>
    <form id="ban" method="post">
      <input type="text" name="u_id" placeholder="부여 / 회수 대상 사용자 이름을 입력하세요."/>
      <select name="p_id">
        <option th:value="2">일반회원</option>
        <option th:value="3">관리자</option>
        <option th:value="4">개발자</option>
      </select>
      <button type="button" onclick="confirmban()">권한 부여 / 회수</button>
    </form>
  </div>
<script>
    function confirmban() {
      if (confirm('해당 사용자의 권한을 변경하시겠습니까?')) {
        document.getElementById('ban').submit();
      }
    }
</script>
<ul th:if="${session.member.p_id<3}">
  <script>
        alert('관리자 권한이 없습니다!');
        window.history.back();
  </script>
</ul>
</main>
</body>
</html>