<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cswiki.dao.MemberDAO">
    <!-- 유저 전체 목록 -->
    <select id="list" resultType="com.spring.cswiki.domain.Member">
        select
        u_id, p_id, email, name, reg_date
        from user
    </select>

    <!-- 회원 가입 -->
    <insert id="join">
        INSERT INTO user (u_id, p_id, email, name, pwd, reg_date) VALUES (#{u_id}, #{p_id}, #{email}, #{name}, #{pwd}, SYSDATE())
    </insert>

    <!-- 로그인  -->
    <select id="login" resultType="com.spring.cswiki.domain.Member">
        select *
        from user
        where u_id=#{u_id} and pwd=#{pwd}
    </select>

    <!-- 회원 권한 수정 -->
    <update id="grant">
        UPDATE user
        SET p_id = #{p_id}
        where u_id = #{u_id}
    </update>

    <!-- 회원 탈퇴/강제 탈퇴 -->
    <delete id="remove">
        DELETE from user
        where u_id=#{u_id}
    </delete>

    <!-- 사용자 차단-->
    <update id="ban">
        UPDATE user
        SET ban = 1, ban_date = SYSDATE(), ban_reason = #{ban_reason}
        where u_id = #{u_id}
    </update>

    <!-- 차단 목록에서 제거 -->
    <update id="removeban">
        UPDATE user
        SET ban = 0, ban_date = null, ban_reason = null
        where u_id = #{u_id}
    </update>

    <!-- 차단 목록 조회 -->
    <select id="banlist" resultType="com.spring.cswiki.domain.Member">
        select * from user where ban = 1;
    </select>
</mapper>