<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/create.css">
  <link rel="stylesheet" href="/css/doc/header.css">
  <link rel="stylesheet" href="/css/nav.css">
  <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
  <!--<link rel="stylesheet" href="/src/main/resources/static/css/doc.css">
  <link rel="stylesheet" href="/src/main/resources/static/css/doc/header.css">
  <link rel="stylesheet" href="/src/main/resources/static/css/nav.css">-->
  <title>공지 작성 - CS위키</title>
</head>
<body style="overflow-x: hidden">
<script>
  function toggleMenu() {
    var userInfo = document.getElementById("hmenu");
    userInfo.classList.toggle("mhidden");
  }
</script>
<script>
  document.getElementById("searchBtn").onclick = function () {
    let keyword =  document.getElementsByName("d_title")[0].value;
    console.log(title)
    location.href = "/doc/search" + "&title=" + title;
  }
</script>

<div th:insert="/header :: header"></div>
  <th:block th:if="not ${session.p_id >= 3}">
    <script>
      alert('접근 권한이 없습니다.');
      history.back();
    </script>
  </th:block>
  <th:block th:unless="not ${session.p_id >= 3}">
    <main>
      <div id="doc">
        <div class="doc_inner">
          <form class="editarea" method="post">
            <input type="hidden" name="u_id" id="u_id" th:value="${session.u_id}"/>
            <input type="text" name="title" id="d_title" placeholder="제목을 입력하세요."><br>
            <textarea name="content" id="editor"></textarea>
            <br>
            <button id="saveBtn" type="submit">저장</button>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
          </form>
          <script>
            CKEDITOR.replace('editor', {
            });
          </script>
        </div>
      </div>
    </main>
  </th:block>
</body>
</html>