
<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebarnav.css">
    <link rel="stylesheet" href="/css/innotice.css">
    <title>공지사항 세부내용 - CS위키</title>
</head>

<body>
<header>
    <div th:insert="/header :: header"></div>
</header>

<aside>
    <div th:insert="/sidebarnav"></div>
</aside>

<main>
    <!-- 공지사항 세부 내용 -->
    <div class="notice-name">
        <h2>공지 : 11월 24일 (목) 업데이트 안내</h2>
    </div>
    <div class="notice-date">
        <p>2023.11.24 00:01</p>
    </div>

    <hr>

    <div class="notice-main">
        <p>
            안녕하세요, CS위키 관리자 입니다.<br>
            <br><br>
            11월 24일 (목) 00:00경 업데이트가 진행되어 안내해 드립니다.<br>
            CS위키에 접속하시면 아래 사항이 변경됩니다.<br>
            <br><br>
            [수정 사항 안내]<br>
            일단 아무 내용을 채워 넣었습니다.<br>
            <br><br>
            보다 안정적인 환경을 제공해 드리기 위해 최선을 다하겠습니다.<br>
            <br><br>
            항상 감사드립니다.
        </p>
    </div>

    <hr>

    <div class="btn">
        <button>목록으로</button>
    </div>
</main>

<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script src="/js/sidebarnav.js"></script>

</body>
</html>