#doc {
    position:relative;
    top:2px;
    width:1080px;
    margin:0 auto;
    background-color:white;
    padding : 0 5px 0 5px;
    font-family:'InterparkGothicMedium';
}

.doc_inner{
    margin:0 auto;
}

.editarea{
    margin:0 auto;
    padding-top:10px;
    padding-bottom:10px;
}

#d_title{
	margin:0 auto;
	width:1068px;
	height:30px;
	margin-bottom:10px;
	border: solid #d1d8e4 1px;
}

#d_summary{
	margin:0 auto;
	width:1068px;
	height:30px;
	margin-bottom:10px;
	border: solid #d1d8e4 1px;
}

.title{
    display:inline-block;
    position:relative;
    margin:0 auto;
    font-family:'InterparkGothicBold';
    font-size:50px;
}

#category{
	margin:0 auto;
	width:1068px;
	height:30px;
	margin-bottom:10px;
	border: solid #d1d8e4 1px;
}

#caution{
	color:red;
	margin : 0px;
}

footer{
    margin-top:40px;
}

.footer_inner{
    position: relative;
    text-align: center;
}
.footer_inner h1 span{
    display:none;
}
.footer_logo{
    position:relative;
    top:4px;
    width:62px;
    height:21px;
    display:inline-block;
    background : url("../img/logo_footer.png") 13px 1px no-repeat;
}
.footer_inner h1 span{
    display:none;
}
.text, .corp{
    font-size:14px;
}
.corp{
    font-weight:bold;
}