#doc {
    position:relative;
    top:2px;
    width:1080px;
    margin:0 auto;
    background-color:white;
    padding : 0 5px 0 5px;
    font-family:'InterparkGothicMedium';
}

@media (max-width: 1440px){
    #doc{
        width:900px;
    }
}

.doc_inner{
    margin:0 auto;
}

.selectbox{
    display: inline-block;
    position:absolute;
    top:34px;
    left:649px;
    height:40px;
    width:420px;
    background-color: white;
    border-top: solid #cccccc 1px;
    border-bottom: solid #cccccc 1px;
    border-right: solid #cccccc 1px;
}

div .selectbox > ul{
    margin:0;
    padding:0;
    float:left;
}

@media (max-width: 1440px){
    .selectbox{
        left:484px;
    }
}

div .selectbox > ul > li{
    list-style:none;
    float:left;
    width:83px;
    height:40px;
    line-height:40px;
    text-align:center;
    border-left: solid #cccccc 1px;

}

div .selectbox > ul > li > a{
    text-decoration: none;
    color:black;
}

div .selectbox > ul > li > a:hover{
    color:skyblue;
}

div .category{
    display: block;
    border: solid #cccccc 1px;
}

.title{
    display:inline-block;
    position:relative;
    margin:0 auto;
    font-family:'InterparkGothicBold';
    font-size:36px;
}

.option{
    font-family:'InterparkGothicMedium';
    width:100px;
    height:20px;
    border:1px solid #cccccc;
    border-radius:10px;
}

#aclupdate{
    border:0px;
    border-radius:5px;
    width:50px;
    height:20px;
    background-color:skyblue;
}

.btn_text{
    font-family:'InterparkGothicBold';
}
.btn_text:hover{
    color:white;
}
table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
th, td{
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align : left;
}

#category{
    font-size:25px;
}

div .content > div a{
    color:blue;
    text-decoration:none;
}

div .content > div a:hover{
    color:skyblue;
    text-decoration:none;
}
footer{
    margin-top:40px;
}

.footer_inner{
    position: relative;
    text-align: center;
}
.footer_inner h1 span{
    display:none;
}
.footer_logo{
    position:relative;
    top:4px;
    width:62px;
    height:21px;
    display:inline-block;
    background : url("/img/logo_footer.png") 13px 1px no-repeat;
}
.footer_inner h1 span{
    display:none;
}
.text, .corp{
    font-size:14px;
}
.corp{
    font-weight:bold;
}

.doc_index_type{
    padding: 70px 0 40px 0;
}

#doc_index{
    width: 200px;
    height: auto;
    border: solid 2px #000000;
    padding: 15px 5px 15px 5px;
    margin-left:auto;
}

#doc_index span {
    display: block;
    padding: 5px 0 5px 0;
}

#doc_index .doc_index_list{
    font-size: 25px;
    padding-bottom: 20px;
}