:root{
    --gray-color:#717271;
    --light-gray-color:#dee0e5;
    --midium-color:solid 2px skyblue;
    --button-gray-color:#f0f1f0;

    --button-text-gray-color:#5F6368;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

a {
    text-decoration: none;
}

.h-nav {
    padding: 10px;
    display: flex;
}

.h-nav .h-ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-top: 6px;
}

.h-subdrop {
    list-style: none;
}

.h-nav ul li {
    margin-left: 15px;
}

.h-nav ul li a{
    color: var(--gray-color);
}

.h-nav ul li a:hover {
    text-decoration: underline;
}

.h-drop img {
    margin-left: 10px;
}

.h-ul-user{
    margin-top: 6px;
}

.h-menu-img{
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

.h-menu-img:hover {
    background-color:skyblue;
}

.dropdown{
    display: none;
    position: absolute;
    background-color: white;
    right: 0px;
    width: 170px;
    padding: 10px;
    border: 1.5px solid skyblue;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.alarm {
    display: none;
    position: absolute;
    right: 175px;
    width: 350px;
    background-color: white;
    padding: 10px;
    border: 1.5px solid skyblue;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.h-alarm-text:hover .alarm {
    display: block;
}

.h-menu-img:hover .dropdown {
    display: block;
}

.alarmMessage {
    margin: 25px 0;
}

#notice {
    position:absolute;
    padding-left:5px;
    left: 213px;
    top: 18px;
    width: 70%;
    height:25px;
    border: 1px solid darkgray;
    border-radius: 5px;
}

#notice-more{
    display:block;
    position:absolute;
    left: 935px;
    top : 2px;
}