/* 선택자(selector) */
*{
    box-sizing:border-box;
}

/*@font-face{
    font-family:'InterparkGothic'; !*font 이름*!
    font-style: 'normal';
    src: url("/font/InterparkGothicLight.ttf"); !* IE9 Compat Modes *!
}
@font-face{
    font-family:'InterparkGothicMedium'; !*font 이름*!
    font-style: 'normal';
    src: url("/font/InterparkGothicMedium.ttf"); !* IE9 Compat Modes *!
}
@font-face{
    font-family:'InterparkGothicBold'; !*font 이름*!
    font-style: 'normal';
    src: url("/font/InterparkGothicBold.ttf"); !* IE9 Compat Modes *!
}*/
html, body{

    margin : 0;
    padding : 0;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
}

.frame {
    border: 1px solid darkgray;
    border-radius: 5px;
}

.up {
    width: 70%;
    height: auto;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
}

.up .strong {
    font-weight: bold;
    font-size: 15pt;
}

.up .wiki_font {
    font-weight: bold;
    font-size: 30pt;
    color: skyblue;
}

.middle {
    display: flex;
    justify-content: center;
}


.middle .rule {
    width: 40%;
    padding: 10px;
}

hr {
    margin: 5px 0;
}

.middle .down_p {
    width: 30%;
}

.middle .login_p {
    padding: 10px;
    margin: 0 0 10px 10px;
    text-align: center;
}

.middle .login_p button {
    width: 70%;
    height: 50px;
    margin: 10px 0;
    font-size: 15pt;
    background-color: skyblue;
    color: white;
    border: none;
}

.middle .login_p button:hover {
    background-color: #00B9CE;
}

.middle .login_p a:hover {
    color: #00B9CE;
}

.middle .doc {
    margin: 0 0 0 10px;
    padding: 10px;
}

.down {
    width: 70%;
    padding: 10px;
    margin: 10px auto;
}