nav{
    height:46px;
    border-top: 1px solid #f1f3f6;
    border-bottom: 1px solid #d1d8e4;
}
nav ul {
    display: inline-block;
    margin : 0;
    padding : 10px 0 0 4px;
    list-style : none;
}

nav li {
    display:inline-block;
}

nav li > a{
    color:#888;
    font-family:InterparkGothicBold;
    font-size:20px;
    padding-left:10px;
    text-decoration-line:none;
}

nav li > a:hover{
    color:skyblue;
}

#search-ranking {
    position: absolute;
    top: 183px;
    right: 30px;
}

#rank-number{
    margin-top: -9px;
    color: skyblue;
    font-size: 16px;
}