/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* VARIABLES CSS */
:root {
    --nav--width: 92px;

    /* Colores */
    --first-color: #0c5df4;
    --bg-color: #12192c;
    --sub-color: #b6cefc;
    --white-color: #fff;

    /* Fuente y tipografia */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /* z index */
    --z-fixed: 100;
}

/* BASE */
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* l NAV */
.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav--width);
    height: 100vh;
    background-color: #00B9CE;
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}

/* NAV */
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav__toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}

.nav__logo {
    color: var(--white-color);
    font-weight: 600;
}

.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav__link:hover {
    background-color: skyblue;
}

.nav_name {
    font-size: var(--small-font-size);
}

/* Expander menu */
.expander {
    width: calc(var(--nav--width) + 9.25rem);
}

/* Add padding body*/
.body-pd {
    padding: 2rem 0 0 16rem;
}

/* Active links menu */
.active {
    background-color: skyblue;
}

/* COLLAPSE */
.collapse {
    grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
    justify-self: flex-end;
    transition: .5;
}

.collapse__menu {
    display: none;
    padding: .75rem 2.25rem;
}

.collapse__sublink {
    color: grey;
    font-size: var(--small-font-size);
}

.collapse__sublink:hover {
    color: var(--white-color);
}

/* Show collapse */
.showCollapse {
    display: block;
}

.nav__childlist {
    display: flex;
    column-gap: 0.75rem;
}

.hidden {
    display: none;
}

#edit {
    display: none;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: white;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 230px;
    left: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.edit-inner{
    display:inline-block;
}

.edit-cbtn {
    width: 500px;
}

.edit-cname input{
    width: 400px;
    height: 50px;
    border: 1px solid grey;
    margin: 40px 50px;
    border-radius: 10px;
}

.edit-cbtn #editBtn {
    width: 100px;
    height: 40px;
    margin-left: 145px;
    background-color: skyblue;
    border: none;
    border-radius: 10px;
    color: white;
}

.edit-cbtn #delBtn {
    width: 100px;
    height: 40px;
    background-color: skyblue;
    border: none;
    border-radius: 10px;
    color: white;
}

.c-input {
    margin: 10px;
    width: 172px;
    height: 30px;
    border: 1.5px solid white;
    border-radius: 5px;
}

hr {
    border: 0.5px solid white;
    margin: 25px 0;
}

.parent {
    margin: 20px 10px;
}

.parent ul li span {
    margin: 0 10px;
    width:150px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline-block;
}

.parent ul li a {
    margin: 0 20px;
}

.nav__list ul p{
    margin: 0 10px;
    font-weight: 600;
}

.nav__list ul {
    list-style-type: circle;
    margin: 0 5px;
}

#nav__list {
    display: none;
}

.icon-color {
    color: inherit;
}