<html>
<link rel="stylesheet" href="/css/header.css">
<header>
    <div class="h-nav">
        <ul class="h-ul">
            <li class="h-ul-user"><a href="/html/login.html">로그인</a></li>
            <li class="h-ul-user"><a href="/html/join.html">회원가입</a></li>
            <li class="h-menu-img"><img class="menu-img" src="/img/menu.png">
                <ul class="h-subdrop">
                    <div class="dropdown">
                        <li class="box">
                            <img src="#">
                            <span>공지사항</span>
                        </li>
                        <li class="box">
                            <img src="#">
                            <span>규정</span>
                        </li>
                        <li class="box">
                            <img src="#">
                            <span>문서분류</span>
                        </li>
                        <li class="box">
                            <img src="#">
                            <span>인기문서</span>
                        </li>
                        <li class="box">
                            <img src="#">
                            <span>게시판</span>
                        </li>
                        <li class="box">
                            <img src="#">
                            <span>차단내역</span>
                        </li>
                        <li class="box">
                            <img src="#">
                            <span>신고</span>
                        </li>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
</header>
</html>