<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/sidebarnav.css">
    <link rel="stylesheet" href="/css/nav.css">
    <meta name="viewport" content="width=device-width, initial-scale-1">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>환영합니다! - CS위키</title>
</head>
<body style="overflow-x: hidden">
<header>
    <div th:insert="/header :: header"></div>
</header>
<aside>
    <div th:insert="/sidebarnav"></div>
</aside>
<main>
    <div class="up frame">
        <p class="strong">컴퓨터 공학에 대한 모든 것,</p> <br>
        <p class="wiki_font">CS위키</p> <br> <br>
        <p>CS위키에 오신 여러분을 환영합니다! 컴퓨터에 대한 많은 정보를 가지고 있으며 기여자들이 직접 편집할 수 있는 인터넷 사이트 입니다.</p>
    </div>
    <div class="middle">
        <div class="rule frame">
            <p>추천 문서</p> <hr>
            <ul th:each="list : ${doc}">
                <hr>
                <li>[[${list.d_title}]] - 추천 수 : [[${list.star_count}]]</li>
            </ul>
        </div>
        <div class="down_p">
            <div class="doc frame">
                <p>새로 추가된 문서</p> <hr>
                <ul th:each="list : ${recent}">
                    <hr>
                    <li><b><a th:href="@{/doc/doc(d_num=${list.d_num})}" th:text="${list.d_title}"/></b> : <th:block th:text="${#dates.format(list.d_date, 'yyyy-MM-dd HH:mm:ss')}" /> [[${list.u_id}]]</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="down frame">
        규정/도움말 <hr>
    </div>
</main>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script src="/js/sidebarnav.js"></script>
<script th:inline="javascript">
    var noticeList = /*[[${notice}]]*/ []; // Thymeleaf 모델에서 'notice' 속성을 가져옵니다.
    var currentIndex = 0;

    function changeTitle() {
        document.getElementById('titleDisplay').innerText = noticeList[currentIndex].title;
        document.getElementById('titleDisplay').href = '/notices/' + noticeList[currentIndex].noticeIdx;
        currentIndex = (currentIndex + 1) % noticeList.length;
    }

    // 초기 타이틀 설정
    changeTitle();

    // 일정 시간 간격으로 타이틀 변경
    var interval = setInterval(changeTitle, 3000);

    // 마지막 타이틀이 보여진 후, 다시 처음 타이틀로 돌아가기 위한 처리
    function resetInterval() {
        clearInterval(interval);
        currentIndex = 0;
        interval = setInterval(changeTitle, 3000);
    }

    // 페이지가 로드된 후 일정 시간이 지나면 처음부터 다시 시작
    setTimeout(resetInterval, 3000 * noticeList.length);
</script>
</body>
</html>