<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/templates/sidebar.css">
</head>
<body>
<aside class="side-bar">
    <section class="side-bar__icon-box">
        <section class="side-bar__icon-1">
            <div></div>
            <div></div>
            <div></div>
        </section>
    </section>
    <ul class="parentmenu">
        <li>
            <a href="#">
                <span>test1</span>
            </a>
            <ul class="childmenu">
                <li><a href="#">text1</a></li>
                    <ul class="child2menu">
                        <li><a href="#">child1</a></li>
                        <li><a href="#">child2</a></li>
                        <li><a href="#">child3</a></li>
                    </ul>
                <li><a href="#">text2</a></li>
                    <ul class="child2menu">
                        <li><a href="#">child1</a></li>
                        <li><a href="#">child2</a></li>
                    </ul>
                <li><a href="#">text3</a></li>
                <li><a href="#">text4</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <span>menu2</span>
            </a>
            <ul class="childmenu">
                <li><a href="#">text1</a></li>
                <li><a href="#">text2</a></li>
                <li><a href="#">text3</a></li>
                <li><a href="#">text4</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <span>menu3</span>
            </a>
            <ul class="childmenu">
                <li><a href="#">text1</a></li>
                <li><a href="#">text2</a></li>
                <li><a href="#">text3</a></li>
                <li><a href="#">text4</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <span>menu4</span>
            </a>
            <ul class="childmenu">
                <li><a href="#">text1</a></li>
                <li><a href="#">text2</a></li>
                <li><a href="#">text3</a></li>
                <li><a href="#">text4</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>