<!DOCTYPE html>
<html>
<head>
    <title>Category Data</title>
    <style>
        .hidden {
            display: none;
        }

        .context-hidden{
            display:none;
        }

        .delete-button {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<ul> <!-- 1단계 카테고리 -->
    <form action="/addcategory" method="post">
        <input type="text" value="" name="name" placeholder="카테고리 이름 입력"/>
    </form>
    <li th:each="category : ${jsonData}">
        <div>
            <span class="category-toggle" th:text="${category['name']}"></span>
            <input type="text" value="" class="edit-input hidden" />
            <button class="delete-button">삭제</button>
        </div>
        <span style="display:none" th:text="${category['id']}" class="p"></span>
        <ul class="hidden"> <!-- 2단계 카테고리 -->
            <form action="/addsecondcategory" method="post">
                <input type="text" value="" name="name" placeholder="카테고리 이름 입력"/>
                <input type="hidden" name="parent_id" id="parent"/>
            </form>
            <li th:each="child : ${category['children']}">
                <div>
                    <span class="category-toggle" th:text="${child['name']}"></span>
                    <input type="text" value="" class="edit-input hidden" />
                    <button class="delete-button">삭제</button>
                </div>
                <span style="display:none" th:text="${category['id']}" class="p"></span>
                <ul class="hidden"> <!-- 3단계 카테고리 -->
                    <li th:each="lastChild : ${child['children']}">
                        <a th:href="@{/doc/doc(d_num=${lastChild['d_num']})}" th:text="${lastChild['name']}"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<script>
    $(document).ready(function() {
        // 카테고리 펼치기/접기 이벤트 처리
        $('.category-toggle').on('click',function() {
            var parentUl = $(this).parent().find('ul');
            if (parentUl.length) {
                if (parentUl.hasClass('hidden')) {
                    parentUl.removeClass('hidden');
                } else {
                    parentUl.addClass('hidden');
                }
            }

            var idElement = $(this).parent().find('.p');
            if (idElement.length) {
                var parentIdInput = $(this).parent().find('input[name="parent_id"]');
                parentIdInput.val(idElement.text());
            }
        });
        $('.category-name').on('dblclick', function() {
            var parent = $(this).parent();
            var categoryText = $(this);
            var editInput = parent.find('.edit-input');
            var deleteButton = parent.find('.delete-button');

            categoryText.hide();
            editInput.val(categoryText.text()).removeClass('hidden').focus();
            deleteButton.show();
        });
    });
</script>

</body>
</html>





