<!DOCTYPE html>
<html>
<head>
    <title>Category Data</title>
    <style>
        .hidden {
            display: none;
        }

        #edit{
            display:none;
            border:1px solid black;
            border-radius: 1px;
            margin-right:20%;
            margin-left:20%;
            width:20%;
            height:50%;
            text-align:center;
        }

        #edit-inner{
            display:inline-block;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<ul>
    <form action="/addcategory" method="post">
        <input type="text" value="" name="name" placeholder="카테고리 이름 입력"/>
    </form>
    <li class="parent" th:each="category : ${jsonData}">
        <span th:text="${category['name']}" class="category-toggle category-parent" th:attr="data-id=${category['id']}"></span>
        <input type="hidden" name="name" class="parent-edit" th:value="${category['id']}">
        <ul class="hidden">
            <form action="/addsecondcategory" method="post">+
                <input type="text" value="" name="name" placeholder="카테고리 이름 입력"/>
                <input type="hidden" name="parent_id" id="parent" th:value="${category['id']}"/>
            </form>
            <li th:each="child : ${category['children']}">
                <span th:text="${child['name']}" class="category-toggle category-child" th:attr="data-id=${child['id']}"></span>
                <ul class="hidden">
                    <li th:each="lastChild : ${child['children']}">
                        <a th:href="@{/doc/doc(d_num=${lastChild['d_num']})}" th:text="${lastChild['name']}"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<div id="edit">
    <div id="edit-inner">
        <p>카테고리 수정</p>
        <input name="edit-category" type="text" placeholder="수정할 카테고리 이름 입력"/>
        <button id="editBtn" type="button">수정하기</button>
    </div>
</div>
<script>
    // JavaScript 코드
    var toggleButtons = document.querySelectorAll('.category-toggle');

    toggleButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var parentUl = button.parentElement.querySelector('ul');
            if (parentUl) {
                if (parentUl.classList.contains('hidden')) {
                    parentUl.classList.remove('hidden');
                } else {
                    parentUl.classList.add('hidden');
                }
            }

            /*var idElement = button.parentElement.querySelector('#p');
            if (idElement) {
                // 선택한 카테고리의 id 값을 가져와서 parent_id 필드에 할당
                var parentIdInput = button.parentElement.querySelector('input[name="parent_id"]');
                parentIdInput.value = idElement.textContent;
            }*/
        });
    });

    $(document).ready(function(){

        $('.category-toggle').on('dblclick', function(){
            let id = $(this).data("id");
            console.log(id);
            $('#edit').css("display", "block");

            $('#editBtn').on('click', function(e){
                e.preventDefault();
                let name = $('input[name="edit-category"]').val();
                $.ajax({
                    type: 'put'
                    ,url: '/doc/categoryEdit'
                    ,data:{"id":id, "name":name}
                    , success : function(data){
                        if(data.code == 200){
                            alert('카테고리가 수정되었습니다!');
                            location.reload(true);
                        } else {
                            alert('서버 오류가 발생했습니다.')
                        }
                    }
                    ,error : function(){
                        alert('카테고리 수정에 실패했습니다.');
                    }
                });
            });
        });
    });
</script>
</body>
</html>